p.enunciado{
    text-decoration: underline;
    font-size: 30px;
}
p.tnr{
    font-family: 'Times New Roman', Times, serif;
    font-size: 5px;
    font-weight: bold ;
}
p.pesp{
    text-align: justify;
    width:500px;
    background-color: yellow;
}
h1{
    color: blue;
    text-transform: capitalize;
}
#especial{
    letter-spacing: 3px;
    word-spacing: 8px;
    text-indent: 10px;
}
h3.esp{
    width: 30%;
    text-align: right;
}