.absoluto{
    position: absolute;
    background-color: red;
    text-align: center;
    top: 100px;
}
.relativo{
    position: relative;
    background-color: blue;
}
.static{
    position: static;
    background-color: brown;
    
}
.fixed{
    position: fixed;
    background-color: burlywood;
    text-align: center;
}
body{
    height: 1000px;
    
}
.inline{
    display: inline;
    background-color: red;
}
.block{
    display: block;
    background-color: brown;
}
.inlineblock{
    display: inline-block;
    background-color: rgb(128, 165, 42);
    width: 30px;
}
#oculta{
    display: none;
    background-color: rgb(56, 165, 42);
    height: 100px;
    width: 100px;
    top: 100px;
}